.page {
    max-width: 500px;
    height: 500px;
    overflow: auto;
    margin: 0 auto;
}

.header {
    font-size: 45px;
    text-align: center;
    color: white;
    background: #4b367c;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 0;
    padding-bottom: 0;
}

body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

html > * {
    box-sizing: border-box;
}