

.playlist-card img {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.playlist-card {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;
    max-width: 400px;
}

.playlist-title {
    font-size: 30px;
}
