.song-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    background: #17141f;
    color: #b8b5c0;
    height: 50px;
    border-bottom: 1px solid #b8b5c0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.info-container {
    display: flex;
    position: relative;
    width: 100%;
    word-break: break-all;
}

.vote-button{
    position: absolute;
    right: 10px;
    margin: 0;

}

.song-name{
    max-width: 75%;
    margin-left: 10px;
}

.arrow{
    padding: 13px;
    background: #4b367c;
    color: #b8b5c0;
    cursor: pointer;

}